version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - ${PORTS}

  backend:
    build: ./backend
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - DISCORD_CLIENT_ID=${DISCORD_OAUTH_CLIENT_ID}
      - DISCORD_CLIENT_SECRET=${DISCORD_OAUTH_CLIENT_SECRET}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - db
    ports:
      - "8080:8080"

  bot:
    build: .
    depends_on:
      - backend
    environment:
      - TOKEN=${TOKEN}
      - GUILD_ID=${GUILD_ID}
      - chnl_id=${chnl_id}
      - PYTHONPATH=/app
      - BACKEND_URL=http://backend:8080

volumes:
  postgres_data:
